<div class="container">
  <div class='hero-unit'>
    <% if current_user %>
    <form action="/profile/<%= @post.user_id %>" method="get">
      <input class="btn btn-success" type="submit" value="Your profile">
    </form>
    <% end %>
  
  <h2> <%= @post.title.capitalize %> </h2>
  <h2> Author: <%= @post.user.first_name%> </h2>
  </div>

  <div class="rows">
    <div class="span4">
      <h3> Post content: </h3>
      <h4><%= @post.content %></h4>
    </div>
  
    <div class="span4">
      <h3>Here are this post's tags:</h3>
      <ul>
        <% @post.tags.each do |tag| %>
        <li><a href="/tag/<%= tag.id %>"><%= tag.name %></a></li>
        <% end %>
      </ul>
    </div>
  </div>
  
  
  
  
</div>
