<div class="container">
  <div class='hero-unit'>
    <% if current_user %>
      <form action="/profile" method="get">
        <input class="btn btn-success" type="submit" value="Your profile">
      </form>
    <% end %>
  
    <h2> Tag name: <%= @tag.name.capitalize %> </h2>
  </div>
    
  <div class="rows">
    <div class="span12">

    <h2> All the posts and authors that are associated with this tag:</h2>

      <ul>
        <% @tag.posts.each do |post| %>
        <li><h3><a href="/post/<%= post.id %>">"<%= post.title %>" </a>written by <%= post.user.first_name %> <%= post.user.last_name %></h3></li>
        <% end %>
      </ul> 
    </div>
  </div>  
</div>
